<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas Data Binding Vue JS</title>
  </head>
  <body>
    <div id="app">
      <input v-model="kataKunci" placeholder="ketikan kata kunci">
          <li v-for="daftarBuku in daftarBuku"> 
            {{ daftarBuku.item }}     
      </li>    
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          kataKunci:"",
          daftarBuku: [
          { item: 'Kalkulus Dasar' },
          { item: 'Fisika Dasar' },
          { item: 'Aljabar Linear Elementer' },
          { item: 'Aljabar Abstrak' },
          { item: 'Algoritma pemrograman' }
        ]
         },
        methods: {
          kataKunci : function() {
            
              return this.daftarBuku()
          }

        },
      });
    </script>
  </body>
</html>
